#formContainer{
    display: none;
}

#listaVacunas{
	display: none;
}

#listaActividades{
	display: none;
}

#listaComentarios{
	display: none;
}

#showHideVacunas{
	display: none;
}

#showHideActividades{
	display: none;
}

#showHideComentarios{
	display: none;
}


#events{
	display: none;
}

#vacaPerdida{
	display: inline;
}

#vacaMuerta{
	display: inline;
}

#volver{
	display: inline;
}

#editButton{
	display: inline;
}

#editarVacunas{
	display: inline;
}

#editarActividades{
	display: inline;
}

textarea{ 
   
  min-width:400px; 
  max-width:800px; 

  height:100px; 
  min-height:100px;  
  max-height:200px;
}



